.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #010000;
}

.title {
  position: relative;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 30vh;
}
