@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

.topbar {
  position: sticky;
  top: 0;
  z-index: 60;

  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;

  background: radial-gradient(140% 140% at 50% 100%, #242424 0%, #111111 100%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.topbar-inner {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0 28px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 40px;
}

.topbar-brand {
  font-family: "Irish Grover", system-ui, sans-serif;
  font-weight: 400;
  font-size: 52px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #000;

  -webkit-text-stroke: 2px #fff;
  /*text-stroke: 2px #fff;*/

  text-shadow: 0 4px 12px rgba(71, 71, 71, 0.45);

  user-select: none;
}

.topbar-links {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.topbar-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;

  font-family: "Cormorant Upright";
  font-size: 34px;
  font-weight: 500;

  padding: 8px 6px;
  position: relative;
}

.topbar-link:hover {
  color: #ffffff;
}

.topbar-link.active::after {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 6px;
  height: 3px;
  background: #3f51ff;
  border-radius: 999px;
}

.topbar-btn {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 14px;
  padding: 10px 18px;
  font-size: 18px;
  margin-left: 12px;
}
