.nav-link {
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-link:hover {
  background-color: #eaeaea;
}

.generate.active {
  background-color: #ffd166;
  color: #000;
}

.saved.active {
  background-color: #3849cb;
  color: white;
}

.wardrobe.active {
  background-color: #08775a;
  color: white;
}

.shared.active {
  background-color: #ca2f75;
  color: white;
}

/* bar background wrapper */
.nav-root {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

/* inner container */
.nav-container {
  padding: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}
