.clothImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.clothesDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 60px;
}

.file-input-hidden {
  display: none;
}

.custom-upload-btn {
  background: #08775a;
  color: white;
  padding: 10px 20px;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 12px;
  display: inline-block;
  transition: 0.2s;
}

.custom-upload-btn:hover {
  background: #0c8e6e;
  transform: translateY(-1px);
}

.file-name {
  margin-right: 15px;
  color: #fff;
  font-size: 14px;
  opacity: 0.9;
}

.submit-upload-btn {
  background: black;
  color: white;
  padding: 10px 22px;
  border-radius: 100px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.submit-upload-btn:hover {
  background: #333;
  transform: translateY(-1px);
}

.preview-img {
  margin-top: 20px;
  width: 200px;
  border-radius: 8px;
}

