name: Build and deploy Node.js app to Azure Web App - THRIFTR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "npm"
          cache-dependency-path: packages/express-backend/package-lock.json

      - name: Install, build, test
        working-directory: packages/express-backend
        run: |
          npm ci
          npm run build --if-present
          npm run test --if-present

      - name: Zip artifact for deployment
        working-directory: packages/express-backend
        run: |
          zip -r release.zip .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: packages/express-backend/release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_69CF92AD7E984122BC3D704A06B16EF2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B2C51596FE964A3EA23A2CE4C10062E2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_CB5610D5D6EA4E71B6EF36969C934563 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: THRIFTR
          slot-name: Production
          package: release.zip
